<!DOCTYPE html>
<html>
    <head>
        <title>Add items</title>
    </head>

    <body>
        <form action='/add' method="POST">
            <label>Item Name: </label>
            <input name="name" type="text">
            <label>Price: </label>
            <input name="price" type="text">
            <label>Quantity: </label>
            <input name="quantity" type="text">
            <label>Position: </label>
            <input name="position" type="text">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>