<!DOCTYPE html>
<html>
    <head>
        <title>Edit items</title>
    </head>

    <body>
        <form action='/delete' method="POST">
            <label>Enter the name of the item to be deleted: </label>
            <input name="name" />         
            <button type="submit">Submit</button>
        </form>
    </body>
</html>