<!DOCTYPE html>
<html>
    <head>
        <title>Edit items</title>
    </head>

    <body>
        <form action='/edit' method="POST">
            <label>Enter the SQL command: </label>
            <textarea name="input" ></textarea>         
            <button type="submit">Submit</button>
        </form>
    </body>
</html>